/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/**
 * @file
 * Presentation styles for your site theme.
 *
 */
/**
 * Typography vars ============================================================
 */
/**
 * Include other partials =====================================================
 */
/**
 * @mixin height-lineheight($height)
 *
 * Allows single-line vertical centering of text
 *
 * @param: $height
 *  height of element, text will centern vertically within
 */
/**
 * @mixin child-behind-parent()
 *
 * Moves a child img behind it's a parent. Apply to parent div. Markup: div > a > img
 * Useful for putting a hover image on the a tag wrapping an image
 *
 */
/* HTML element (SMACSS base) rules */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 * 3.Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/**
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Addresses font sizes and margins set differently in IE 6/7.
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Addresses margins set differently in IE 6/7.
 */
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 *  Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 7/8/9/10.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Component (SMACSS module) rules */
/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
@media print {
  /* Underline all links. */
  a:link,
  a:visited {
    text-decoration: underline !important;
    /* Don't underline header. */
  }
  a:link.header__site-link,
  a:visited.header__site-link {
    text-decoration: none !important;
  }

  #content {
    /* Add visible URL after links. */
    /* Only display useful links. */
    /* Add visible title after abbreviations. */
  }
  #content a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    content: "";
  }
  #content abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Un-float the content. */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Turn off any background colors or images. */
  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  /* Hide sidebars and nav elements. */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none;
  }
}
/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
@font-face {
  font-family: Raleway-ExtraBold;
  src: url("../fonts/Raleway-ExtraBold.ttf");
}
@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: Raleway-SemiBold;
  src: url("../fonts/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: Raleway-ExtraLight;
  src: url("../fonts/Raleway-ExtraLight.ttf");
}
@font-face {
  font-family: Raleway-Light;
  src: url("../fonts/Raleway-Light.ttf");
}
@font-face {
  font-family: Raleway-Medium;
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: Segoe Print;
  src: url("../fonts/Segoe Print.ttf");
}
@font-face {
  font-family: MyriadPro-Regular;
  src: url("../fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: Raleway-Regular;
  src: url("../fonts/Raleway-Regular.ttf");
}
body {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .page-homepage {
    background: url("/sites/all/themes/xgaby/images/page/BG.png") repeat-y center center;
    background-size: auto 100%;
  }
}
@media screen and (min-width: 481px) {
  .page-homepage {
    background: url("/sites/all/themes/xgaby/images/page/BG.png") repeat-y top left;
    background-size: 100% auto;
  }
}
.page-homepage .main-logo {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  .page-homepage .main-logo h1 {
    font-size: 33px;
    height: 40px;
  }
  .page-homepage .main-logo p {
    font-size: 12px;
    letter-spacing: 3px;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .page-homepage .main-logo h1 {
    font-size: 50px;
    height: 55px;
  }
  .page-homepage .main-logo p {
    font-size: 18px;
    letter-spacing: 4px;
  }
}
@media screen and (min-width: 768px) {
  .page-homepage .main-logo h1 {
    font-size: 67px;
    height: 70px;
  }
  .page-homepage .main-logo p {
    font-size: 24px;
    letter-spacing: 6px;
  }
}
.page-homepage .main-logo h1 {
  margin: 0px;
  font-family: Raleway-ExtraBold;
}
.page-homepage .main-logo p {
  margin: 0px;
  font-family: Raleway-ExtraLight;
}

.page-blog, .page-node, .page-video, .page-pictures {
  background: url("/sites/all/themes/xgaby/images/page/BLOG-page.png") no-repeat center;
  background-size: 100% auto;
  background-attachment: fixed;
}
@media screen and (max-width: 1200px) {
  .page-blog, .page-node, .page-video, .page-pictures {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.inline li, .item-main-menu {
  display: inline;
  margin: 0 26px;
}
.inline li a, .item-main-menu a {
  text-decoration: none;
  color: #000000;
  box-shadow: 1px solid #424242;
}
.inline li a:hover, .inline li a.active-trail, .item-main-menu a:hover, .item-main-menu a.active-trail {
  color: #ff9898;
}

@media screen and (max-width: 320px) {
  #main-menu, .menu-main-menu {
    width: 80%;
    display: inline-block;
  }
  #main-menu li, .menu-main-menu li {
    display: inline;
    width: 100%;
    margin: 0;
    float: left;
  }
}
@media screen and (min-width: 320px) and (max-width: 520px) {
  #main-menu, .menu-main-menu {
    width: 70%;
    display: inline-block;
  }
  #main-menu li, .menu-main-menu li {
    display: inline;
    width: 50%;
    margin: 0;
    float: left;
  }
  #main-menu li:last-child, .menu-main-menu li:last-child {
    width: 100%;
  }
}
@media screen and (min-width: 520px) {
  #main-menu, .menu-main-menu {
    display: inline-block;
    width: 60%;
    max-width: 540px;
  }
}
#main-menu, .menu-main-menu {
  background: #fff;
  text-align: center;
  float: none;
  margin: 41px auto 0;
  padding: 8px;
}
#main-menu a, .menu-main-menu a {
  font-family: Raleway-Medium;
  font-size: 18px;
  text-transform: lowercase;
}

.main-home-block {
  background: rgba(0, 0, 0, 0.27);
  padding: 30px 0px 10px 0px;
  margin-top: 18%;
}

.footer-social {
  text-align: center;
}

.social-buttons ul {
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  margin: 33px 0px 20px;
}
.social-buttons ul li {
  display: inline;
}
.social-buttons ul li a {
  text-decoration: none;
  margin: 4px 10px;
  color: #85848a;
  background: none;
  width: 45px;
  height: 45px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.social-buttons ul li[rel="twitter"] a {
  background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -2px 0;
  background-size: auto 45px;
}
.social-buttons ul li[rel="yt"] a {
  background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -57px 0;
  background-size: auto 45px;
}
.social-buttons ul li[rel="instagram"] a {
  background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -109px 0;
  background-size: auto 45px;
}
.social-buttons ul li[rel="skype"] a {
  background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -162px 0;
  background-size: auto 45px;
}
.social-buttons ul li[rel="gplus"] a {
  background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -213px 0;
  background-size: auto 45px;
}

#homepage-pager {
  text-align: center;
  margin: 10px auto 0;
}
#homepage-pager a {
  margin: 0px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}
#homepage-pager a span {
  background: #7d7d7d;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  display: block;
  padding: 5px;
  width: 1px;
}
#homepage-pager a.selected span {
  background: #ffffff;
}

.page-blog .pane-page-content {
  max-width: 960px;
  margin: auto;
}
.page-blog .view-content .views-row .article {
  text-align: center;
}

#logo img {
  margin: 31px auto 0 auto;
  float: none;
  display: block;
  width: 435px;
}

@media screen and (max-width: 320px) {
  #logo img {
    margin: 28px auto 0 auto;
    float: none;
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  #logo img {
    margin: 22px auto 0 auto;
    float: none;
    display: block;
    width: 68%;
  }
}
.pane-page-content .pane-title {
  text-align: center;
  font-family: Segoe Print;
  font-size: 51px;
  color: #ffffff;
  margin: 5px auto 5px;
}

.container .pane-title {
  text-align: center;
  font-family: Raleway-Bold;
  font-size: 24px;
  color: #888888;
  background: #ffffff;
  margin: 0;
  padding-top: 24px;
}

/*.panel-2col {
  background: #ffffff;
  margin: 25px auto;
}
*/
.page-blog .views-row {
  background: #ffffff;
  margin-top: 20px;
}
.page-blog .views-row .blog-teaser-left {
  float: left;
}
.page-blog .views-row .blog-teaser-right {
  padding: 0 40px;
  box-sizing: border-box;
  float: left;
}
.page-blog .views-row .blog-teaser-right h2 {
  line-height: 1.1;
  font-size: 30px;
  text-align: center;
  font-family: Segoe Print;
}
.page-blog .views-row .blog-teaser-right a {
  text-decoration: none;
  color: #000000;
}
.page-blog .views-row .blog-teaser-right span {
  font-family: Raleway-Regular;
  font-size: 18px;
  text-align: center;
}
.page-blog .views-row .blog-teaser-right .field-type-text-with-summary {
  font-family: MyriadPro-Regular;
  font-size: 16px;
  color: #000000;
  line-height: 1.4;
}
.page-blog .views-row .blog-teaser-right .read-more-btn {
  padding: 0 0 20px;
}
.page-blog .views-row .blog-teaser-right .read-more-btn span {
  width: 217px;
  border: 2px solid #ff9898;
  margin: auto;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #ff9898;
  font-family: Raleway-Medium;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 3.4;
  display: block;
  cursor: pointer;
}
.page-blog .node-full.node-blog .field-name-field-media-images .field-item {
  display: inline-block;
}

@media screen and (max-width: 320px) {
  .page-blog .views-row .blog-teaser-left {
    width: auto;
    float: none;
    clear: both;
  }
  .page-blog .views-row .field-name-field-media-images img {
    width: 100%;
    height: auto;
  }
  .page-blog .views-row .blog-teaser-right {
    width: auto;
    float: none;
    clear: both;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .page-blog .views-row .blog-teaser-left {
    width: auto;
    float: none;
    clear: both;
  }
  .page-blog .views-row .blog-teaser-left .field-name-field-media-images img {
    width: 100%;
    height: auto;
  }
  .page-blog .views-row .blog-teaser-right {
    width: auto;
    float: none;
    clear: both;
  }
}
@media screen and (min-width: 768px) {
  .page-blog .views-row .blog-teaser-left {
    width: 36%;
  }
  .page-blog .views-row .blog-teaser-left .field-name-field-media-images img {
    float: left;
    width: 100%;
    height: auto;
  }
  .page-blog .views-row .blog-teaser-right {
    width: 64%;
  }
}
.item-list {
  margin-top: 57px;
  font-family: MyriadPro-Regular;
  font-size: 20px;
  text-align: center;
}
.item-list li {
  padding: 0;
  display: inline;
  margin: 0px 8px;
}
.item-list li a, .item-list li.pager-current {
  text-decoration: none;
  background-color: #fff;
  color: #888888;
  display: inline-block;
  padding: 11px 24px;
}
.item-list li a:hover, .item-list li a:focus, .item-list li.pager-current:hover, .item-list li.pager-current:focus {
  color: #ff9898;
}
.item-list li.pager-current {
  color: #ff9898;
  cursor: default;
}
.item-list li.pager-last, .item-list li.pager-first, .item-list lipager-ellipsis {
  display: none;
  visibility: hidden;
}

.view-display-id-most_popular_blog .views-field-created .field-content {
  font-family: Raleway-Regular;
  font-size: 13px;
  text-align: center;
}

.view-display-id-most_popular_blog {
  margin: auto;
}
.view-display-id-most_popular_blog .views-row {
  width: 23%;
  float: left;
}
.view-display-id-most_popular_blog .panel-2col {
  width: auto;
}

.view-display-id-most_popular_blog a {
  font-family: Segoe Print;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}
.view-display-id-most_popular_blog .views-field-title, .view-display-id-most_popular_blog .views-field-created {
  text-align: center;
}

.view-display-id-most_popular_blog .panel-2col .panel-col-first {
  width: auto;
  margin-left: 76px;
}

.pane-views-index-pages-most-popular-blog .pane-content {
  background: #ffffff;
  display: inline-block;
}

.pane-xgaby-core-xgaby-find-me-links .pane-content {
  max-width: 960px;
  margin: auto;
}
.pane-xgaby-core-xgaby-find-me-links .pane-content .find-me-source {
  background: #ffffff;
  margin: auto auto 30px;
  text-align: center;
  font-size: 24px;
  font-family: MyriadPro-Regular;
  color: #ff9898;
  line-height: 3;
  text-transform: lowercase;
}
.pane-xgaby-core-xgaby-find-me-links .pane-content .find-me-source .find-me-source a:hover {
  color: #000000;
}

.pane-xgaby-core-xgaby-find-me-links .pane-title {
  text-align: center;
  font-family: Segoe Print;
  font-size: 36px;
  color: #ffffff;
  margin: 23px auto 7px;
}

.pane-xgaby-core-xgaby-mini-contact .pane-content {
  background: #ffffff;
  margin: auto;
  line-height: 4.4;
  text-align: center;
  font-family: Raleway-Light;
  font-size: 24px;
  color: #000000;
}
.pane-xgaby-core-xgaby-mini-contact .pane-content span {
  font-family: Raleway-SemiBold;
}

.page-node-1 .pane-page-content .panel-1col {
  background: #ffffff;
}

@media screen and (max-width: 320px) {
  .page-node-1 .image-about {
    clear: both;
    float: none;
    width: auto;
    height: auto;
  }
  .page-node-1 .page-node-1 .pane-page-content {
    padding: 5px;
  }
  .page-node-1 .page-node-1 .pane-page-content .panel-1col {
    padding: 8px;
    width: auto;
  }
  .page-node-1 h4 {
    font-size: 12px;
  }
  .page-node-1 h3 {
    font-size: 12px;
  }
  .page-node-1 p {
    font-size: 10px;
  }
  .page-node-1 .description {
    padding: 0px 12px;
    width: 85%;
  }
}
@media screen and (min-width: 320px) and (max-width: 959px) {
  .page-node-1 .image-about {
    clear: both;
    float: none;
    padding: 20px 0 0 0;
    width: 100%;
  }
  .page-node-1 .page-node-1 .pane-page-content .panel-1col {
    padding: 12px;
  }
  .page-node-1 h4 {
    font-size: 20px;
  }
  .page-node-1 h3 {
    font-size: 20px;
  }
  .page-node-1 p {
    font-size: 14px;
  }
  .page-node-1 .description {
    padding: 0px 25px;
    width: 95%;
  }
}
@media screen and (min-width: 960px) {
  .page-node-1 .image-about {
    float: left;
    width: auto;
    padding: 38px;
  }
  .page-node-1 .page-node-1 .pane-page-content .panel-1col {
    padding: 38px;
  }
  .page-node-1 h4 {
    font-size: 30px;
  }
  .page-node-1 h3 {
    font-size: 30px;
  }
  .page-node-1 p {
    font-size: 16px;
  }
  .page-node-1 .description {
    width: 60%;
  }
}
h4 {
  float: right;
  font-family: "Segoe Print";
  color: #000000;
}

.description {
  float: left;
}

p {
  font-family: MyriadPro-Regular;
  line-height: 1.4;
}

h3 {
  font-family: "Segoe Print";
  color: #000000;
}
h3 span {
  color: #ff9898;
}

.page-pictures .view-display-id-pictures_index li {
  margin-top: 41px;
}
.page-pictures .view-display-id-pictures_index .field-content img {
  float: left;
}

@media screen and (max-width: 320px) {
  .page-pictures .view-display-id-pictures_index .field-content img {
    clear: both;
    float: none;
    width: 99%;
    height: auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .page-pictures .view-display-id-pictures_index .field-content img {
    float: left;
    width: 85%;
    margin: auto;
    padding: 0 2% 0 7%;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .page-pictures .view-display-id-pictures_index .field-content img {
    float: left;
    width: 49%;
    margin: auto;
    height: auto;
  }
}
@media screen and (min-width: 960px) {
  .page-pictures .view-display-id-pictures_index .field-content img {
    float: left;
    width: 33%;
    margin: auto;
  }
}
.page-node-4 .field-type-text-with-summary img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 320px) {
  .page-node-4 img {
    clear: both;
    float: none;
    width: auto;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .page-node-4 img {
    clear: both;
    float: none;
    width: auto;
    height: auto;
  }
}
.page-video .field-name-field-videos .field-item {
  margin-bottom: 40px;
}

.pane-content, .pane-xgaby-core-xgaby-mini-contact {
  max-width: 960px;
  margin: auto;
}

.page-homepage .pane-content {
  max-width: 100%;
  margin: auto 0;
  padding: 0;
}

.page-pictures .pane-content {
  max-width: 1173px;
  margin: auto;
}
.page-pictures .pane-xgaby-core-xgaby-find-me-links .pane-content {
  max-width: 960px;
}

@media screen and (max-width: 320px) {
  .pane-content .pane-xgaby-core-xgaby-mini-contact {
    padding: 0 15px;
  }
  .pane-content .pane-xgaby-core-xgaby-mini-contact .pane-content, .pane-content .pane-xgaby-core-xgaby-mini-contact .pane-xgaby-core-xgaby-mini-contact {
    padding: 0;
  }
}
@media screen and (min-width: 321px) and (max-width: 960px) {
  .pane-content, .pane-xgaby-core-xgaby-mini-contact {
    padding: 0 30px;
  }
  .pane-content .pane-content, .pane-content .pane-xgaby-core-xgaby-mini-contact, .pane-xgaby-core-xgaby-mini-contact .pane-content, .pane-xgaby-core-xgaby-mini-contact .pane-xgaby-core-xgaby-mini-contact {
    padding: 0;
  }
}
