/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";
/* HTML element (SMACSS base) rules */
@import "normalize";
/* Component (SMACSS module) rules */
//@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

@font-face {
  font-family: Raleway-ExtraBold;
  src: url("../fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url("../fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: Raleway-ExtraLight;
  src: url("../fonts/Raleway-ExtraLight.ttf");
}

@font-face {
  font-family: Raleway-Light;
  src: url("../fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: Raleway-Medium;
  src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: Segoe Print;
  src: url("../fonts/Segoe Print.ttf");
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
  font-family: Raleway-Regular;
  src: url("../fonts/Raleway-Regular.ttf");
}

body {
  text-align: center;
}

//Index page

.page-homepage {
  @media screen and (max-width: 480px) {
    background: url("/sites/all/themes/xgaby/images/page/BG.png") repeat-y center center;
    background-size: auto 100%;
  }
  @media screen and (min-width: 481px) {
    background: url("/sites/all/themes/xgaby/images/page/BG.png") repeat-y top left;
    background-size: 100% auto;
  }
  .main-logo {
    text-align: center;
    text-decoration: none;
    color: #ffffff;

    @media screen and (max-width: 320px) {
      h1 {
        font-size: 33px;
        height: 40px;
      }
      p {
        font-size: 12px;
        letter-spacing: 3px;
      }
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
      h1 {
        font-size: 50px;
        height: 55px;
      }
      p {
        font-size: 18px;
        letter-spacing: 4px;
      }
    }

    @media screen and (min-width: 768px) {
      h1 {
        font-size: 67px;
        height: 70px;
      }
      p {
        font-size: 24px;
        letter-spacing: 6px;
      }
    }

    h1 {
      margin: 0px;
      font-family: Raleway-ExtraBold;
    }
    p {
      margin: 0px;
      font-family: Raleway-ExtraLight;
    }
  }
}

.page-blog, .page-node, .page-video, .page-pictures {
  background: url("/sites/all/themes/xgaby/images/page/BLOG-page.png") repeat-y top left;
  background-size: 100% auto;
 .pane-content{
   .pane-display{
     width: 960px;
     margin: auto;
     background: #ffffff;
   }
 }
}

.inline li, .item-main-menu {
  display: inline;
  margin: 0 26px;
  a {
    text-decoration: none;
    color: #000000;
    box-shadow: 1px solid #424242;
  }

}

.inline a:hover, .item-main-menu a:hover {
  color: #ff9898;
}

@media screen and (max-width: 320px) {
  #main-menu, .menu-main-menu {
    width:80%;
    display: inline-block;
    li {
      display: inline;
      width: 100%;
      margin: 0;
      float: left;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 520px) {
  #main-menu, .menu-main-menu {
    width: 70%;
    display: inline-block;
    li {
      display: inline;
      width: 50%;
      margin: 0;
      float: left;
    }
    li:last-child {
      width: 100%;
    }
  }
}
@media screen and (min-width: 520px) {
  #main-menu, .menu-main-menu {
    display: inline-block;
    width: 60%;
    max-width: 540px;
  }
}

#main-menu, .menu-main-menu {
  background: #fff;
  text-align: center;
  float: none;
  margin: 41px auto 0;
  padding: 8px;
  a {
    font-family: Raleway-Medium;
    font-size: 18px;
    text-transform: lowercase;
  }
}

.main-home-block {
  background: rgba(0, 0, 0, 0.27);
  padding: 30px 0px 37px 0px;
  margin-top: 23%;
}

.footer-social {
  text-align: center;
}

.social-buttons ul {
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  margin: 33px 0px 6px;

  li {
    display: inline;
    a {
      text-decoration: none;
      margin: 4px 10px;
      color: #85848a;
      background: none;
      width: 45px;
      height: 45px;
      display: inline-block;
      cursor: pointer;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
    }

    &[rel="twitter"] a {
      background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -2px 0;
      background-size: auto 45px;
    }
    &[rel="yt"] a {
      background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -57px 0;
      background-size: auto 45px;
    }
    &[rel="instagram"] a {
      background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -109px 0;
      background-size: auto 45px;
    }
    &[rel="skype"] a {
      background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -162px 0;
      background-size: auto 45px;
    }
    &[rel="gplus"] a {
      background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -213px 0;
      background-size: auto 45px;
    }

  }
}

.page-blog {
  .pane-page-content {
    max-width: 960px;
    margin: auto;
  }
  .view-content {
    .views-row {
      .article {
        text-align: center;
      }
    }
  }
}

//about
#logo img {
  margin: 31px auto;
  width: 433px;
  float: none;
  display: block;
  background: url("/sites/all/themes/xgaby/images/page/xgaby_logo_0.png");
  height: 55px;

}

.pane-page-content {
  .pane-title {
    text-align: center;
    font-family: Segoe Print;
    font-size: 51px;
    color: #ffffff;
  }
}

.container {
  .pane-title {
    text-align: center;
    font-family: Raleway-Bold;
    font-size: 24px;
    color: #888888;
    background: #ffffff;
    margin: 0;
    padding-top: 24px;
  }
}

.panel-2col {
  background: #ffffff;
  margin: 25px auto;
}

.view-display-id-blog_index {
  .views-field-title {
    font-family: Segoe Print;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    a {
      text-decoration: none;
      color: #000000;
    }
  }
}

.view-display-id-blog_index {
  .panel-col-first {
    width: 36% !important;
  }
  .panel-col-last {
    width: 54% !important;
    margin: auto 40px
  }
}

.view-display-id-blog_index {
  .views-field-created {
    font-family: Raleway-Regular;
    font-size: 18px;
    text-align: center;
  }
}

.views-field-body {
  font-family: MyriadPro-Regular;
  font-size: 16px;
  color: #000000;
  line-height: 1.4;
}

.container {
  .views-field-nothing {
    span {
      width: 40%;
      border: 2px solid #ff9898;
      margin: auto;
      display: block;
    }
    a {
      text-decoration: none;
      text-align: center;
      color: #ff9898;
      font-family: Raleway-Medium;
      font-size: 15px;
      text-transform: uppercase;
      line-height: 3.4;
      display: block;
    }
  }
}

/*
.item-list{
  text-align: center;
  li{
    display: inline;
    width: 64px;
    height: 46px;
    background: #ffffff;
    padding: 20px;
    margin: 9px;
  }
  a{
    font-family: MyriadPro-Regular;
    font-size: 20px;
    text-decoration: none;
    color: #888888;
  }
  a:hover{
    color:#ff9898;
  }
}
*/

.item-list {
  margin-top: 57px;
  font-family: MyriadPro-Regular;
  font-size: 20px;
  text-align: center;
  li {
    padding: 0;
    display: inline;
    margin: 0px 8px;

    a, &.pager-current {
      text-decoration: none;
      background-color: #fff;
      color: #888888;
      display: inline-block;
      padding: 11px 24px;

      &:hover, &:focus {
        color: #ff9898;
      }
    }

    &.pager-current {
      color: #ff9898;
      cursor: default;
    }

    &.pager-last, &.pager-first, &pager-ellipsis {
      display: none;
      visibility: hidden;
    }
  }
}

.view-display-id-most_popular_blog {
  .views-field-created {
    .field-content {
      font-family: Raleway-Regular;
      font-size: 13px;
      text-align: center
    }
  }
}

.view-display-id-most_popular_blog {
  margin: auto;
  .views-row {
    width: 23%;
    float: left;
  }
  .panel-2col {
    width: auto;
  }
}

.view-display-id-most_popular_blog {
  a {
    font-family: Segoe Print;
    font-size: 18px;
    text-decoration: none;
    color: #000000;

  }
  .views-field-title, .views-field-created {
    text-align: center;
  }
}

.view-display-id-most_popular_blog {
  .panel-2col {
    .panel-col-first {
      width: auto;
      margin-left: 76px;
    }
  }
}

.pane-views-index-pages-most-popular-blog {
  .pane-content {
    background: #ffffff;
    display: inline-block;
  }
}

.pane-xgaby-core-xgaby-find-me-links {
  .pane-content {
    max-width: 960px;
    margin: auto;
    .find-me-source {
      background: #ffffff;
      margin: auto auto 30px;
      text-align: center;
      font-size: 24px;
      font-family: MyriadPro-Regular;
      color: #ff9898;
      line-height: 3;
      text-transform: lowercase;
      .find-me-source a:hover {
        color: #000000;
      }
    }
  }
}

.pane-xgaby-core-xgaby-find-me-links {
  .pane-title {
    text-align: center;
    font-family: Segoe Print;
    font-size: 36px;
    color: #ffffff;
  }
}

.pane-xgaby-core-xgaby-mini-contact {
  background: #ffffff;
  margin: auto;
  line-height: 4.4;
  .pane-content {
    text-align: center;
    font-family: Raleway-Light;
    font-size: 24px;
    color: #000000;
    span {
      font-family: Raleway-SemiBold;
    }
  }
}

//about
.page-node {
  .contextual-links-region {
    .panel-1col {
      background: #ffffff;
      padding: 38px;
    }
  }

  .image-about {
    float: left;
  }
  h4 {
    float: right;
    font-family: "Segoe Print";
    font-size: 30px;
    color: #000000;
  }
  .description {
    float: left;
    width: 58%;
    padding: 0px 58px;
  }
  p {
    font-family: MyriadPro-Regular;
    font-size: 16px;
    line-height: 1.4
  }
  h3 {
    font-family: "Segoe Print";
    font-size: 30px;
    color: #000000;
    span {
      color: #ff9898;
    }
  }
}

//photo
.page-pictures {
  .contextual-links-region {
    width: 1173px;
    margin: auto;
  }
}

.view-display-id-pictures_index {
  .views-field-field-media-image {
    .field-content {
      float: left;
      height: 283px;
    }
  }
  li {
    margin-top: 44px;
  }
}




//global

.pane-content {
  max-width: 960px;
  margin: auto;
}

.page-homepage {
  .pane-content {
    max-width: 100%;
    margin: auto;
  }
}


@media screen and (max-width: 320px) {
  .pane-content {
    padding: 0 15px;
    .pane-content {
      padding: 0;
    }
  }

}

@media screen and (min-width: 321px) and (max-width: 960px) {
  .pane-content {
    padding: 0 30px;
    .pane-content {
      padding: 0;
    }
  }

}

@media screen and (max-width: 961px) {
  .pane-content {

  }

}




