/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Component (SMACSS module) rules */
//@import "components/misc";

// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */


@font-face {
  font-family: Raleway-ExtraBold;
  src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: Raleway-ExtraLight;
  src: url(../fonts/Raleway-ExtraLight.ttf);
}
@font-face {
  font-family: Raleway-Medium;
  src: url(../fonts/Raleway-Medium.ttf);
}


//first

  .html{
    background: url("/sites/all/themes/xgaby/images/page/BG.png") repeat-y top left;
    background-size: 100% auto;
  }



.inline li, .item-main-menu {
  display: inline;
  margin: 0 26px;
  a{
    text-decoration: none;
    color: #000000;
    box-shadow: 1px solid #424242;
  }

}
.inline a:hover, .item-main-menu a:hover {
  color:#ff9898;
}
.main-logo{
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  h1{
    margin: 0px;
    font-family: Raleway-ExtraBold;
    font-size: 67px;
    height: 70px;
  }
  p{
    margin: 0px;
    font-family: Raleway-ExtraLight;
    font-size: 24px;
    letter-spacing: 6px;
  }
}
#main-menu, .menu-main-menu {
  background: #fff;
  width: 545px;
  text-align: center;
  float: none;
  padding: 8px;
  margin: 35px auto 0;
  a{
    font-family: Raleway-Medium;
    font-size: 18px;
  }
}

.main-home-block {
  background: rgba(0, 0, 0, 0.27);
  padding: 30px 0px 37px 0px;
  margin-top: 22%;
}

.footer-social{
  text-align: center;
}

.social-buttons ul {
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  margin: 33px 0px 6px;

  li {
    display: inline;
    a {
      text-decoration: none;
      margin: 4px 10px;
      color: #85848a;
      background: none;
      width: 45px;
      height: 45px;
      display: inline-block;
      cursor: pointer;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
    }

    &[rel="twitter"] a {
      background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -2px 0;
      background-size: auto 45px;
    }
    &[rel="yt"] a {
      background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -57px 0;
      background-size: auto 45px;
    }
    &[rel="pi"] a {
      background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -109px 0;
      background-size: auto 45px;
    }
    &[rel="skype"] a {
      background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -164px 0;
      background-size: auto 45px;
    }
    &[rel="gplus"] a {
      background: url("/sites/all/themes/xgaby/images/page/social_icons.png") -213px 0;
      background-size: auto 45px;
    }


  }
}

.page-blog {
  .view-content {
    .views-row {
      .article {
        text-align: center;
      }
    }
  }
}


//about
