/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";
/* HTML element (SMACSS base) rules */
@import "normalize";
/* Component (SMACSS module) rules */
//@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

@font-face {
  font-family: Raleway-ExtraBold;
  src: url("../fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: Raleway-Bold;
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url("../fonts/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: Raleway-ExtraLight;
  src: url("../fonts/Raleway-ExtraLight.ttf");
}

@font-face {
  font-family: Raleway-Light;
  src: url("../fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: Raleway-Medium;
  src: url("../fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: Segoe Print;
  src: url("../fonts/Segoe Print.ttf");
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
  font-family: Raleway-Regular;
  src: url("../fonts/Raleway-Regular.ttf");
}

$mainPink : #ff9898;

body {
  @media screen and (min-width: 1100px) {
    //border: 10px solid #fff;
  }
  text-align: center;
}

.html {
  .field-name-body {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

//Index page

.page-homepage {

  .pane-page-content {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    bottom: 0;
  }

  .main-logo {
    text-align: center;
    text-decoration: none;
    color: #ffffff;

    @media screen and (max-width: 320px) {
      h1 {
        font-size: 33px;
        height: 40px;
      }
      p {
        font-size: 12px;
        letter-spacing: 3px;
      }
    }

    @media screen and (min-width: 320px) and (max-width: 768px) {
      h1 {
        font-size: 50px;
        height: 55px;
      }
      p {
        font-size: 18px;
        letter-spacing: 4px;
      }
    }

    @media screen and (min-width: 768px) {
      h1 {
        font-size: 67px;
        height: 70px;
      }
      p {
        font-size: 24px;
        letter-spacing: 6px;
      }
    }

    h1 {
      margin: 0px;
      font-family: Raleway-ExtraBold;
      span {
        color: $mainPink;
      }
    }
    p {
      margin: 0px;
      font-family: Raleway-ExtraLight;
    }
  }
}

.pane-xgaby-core-xgaby-homepage-slider {
  overflow: hidden;
  .pane-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    .home-slide {
      position: fixed;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      overflow: hidden;
    }
    img {
      position: relative;
    }
  }
}

.page-blog, .page-node, .page-video, .page-pictures {
  background: url("/sites/all/themes/xgaby/images/page/main_bg.jpg") no-repeat center;
  background-size: 100% auto;
  background-attachment: fixed;

  @media screen and (max-width: 1200px) {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .pane-page-content {
    margin-top: 45px;
  }

}

.inline li, .item-main-menu {
  display: inline;
  margin: 0 26px;
  a {
    text-decoration: none;
    color: #000000;
    box-shadow: 1px solid #424242;
    &:hover, &.active-trail {
      color: #ff9898;
    }
  }

}

@media screen and (max-width: 320px) {
  #main-menu, .menu-main-menu {
    width: 80%;
    display: inline-block;
    li {
      display: inline;
      width: 100%;
      margin: 0;
      float: left;
      line-height: 25px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 520px) {
  #main-menu, .menu-main-menu {
    width: 70%;
    display: inline-block;
    li {
      display: inline;
      width: 50%;
      margin: 0;
      float: left;
      line-height: 25px;
      &:last-child {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 520px) {
  #main-menu, .menu-main-menu {
    display: inline-block;
    width: 60%;
    max-width: 540px;
  }
}

#main-menu, .menu-main-menu {
  background: #fff;
  text-align: center;
  float: none;
  margin: 41px auto 0;
  padding: 8px;
  a {
    font-family: Raleway-Medium;
    font-size: 18px;
    text-transform: lowercase;
  }
}

.main-home-block {
  background: rgba(0, 0, 0, 0.27);
  padding: 30px 0px 10px 0px;
}

.footer-social {
  text-align: center;
}

.social-buttons ul {
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  margin: 33px 0px 20px;

  li {
    display: inline;
    a {
      text-decoration: none;
      margin: 4px 10px;
      color: #85848a;
      background: none;
      width: 45px;
      height: 45px;
      display: inline-block;
      cursor: pointer;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
    }

    &[rel="twitter"] a {
      background: url("../images/social/social_icons.png") 0 45px;
      &:hover {
        background-position: 0 0; 
      }
    }

    &[rel="vine"] a {
      background: url("../images/social/social_icons.png") 90px 45px;
      &:hover {
        background-position: 90px 0; 
      }
    }

    &[rel="vimeo"] a {
      background: url("../images/social/social_icons.png") 45px 45px;
      &:hover {
        background-position: 45px 0; 
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .social-buttons ul{
    li{
      a{
        margin: 0;
      }
    }
  }
}


#homepage-pager {
  text-align: center;
  margin: 10px auto 0;
  a {
    margin: 0px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
  }
  a span {
    background: #7d7d7d;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: block;
    padding: 5px;
    width: 1px;
  }

  a.selected span {
    background: #ffffff;
  }
}

#logo img {
  margin: 31px auto 0 auto;
  float: none;
  display: block;
  width: 435px;

}

@media screen and (max-width: 320px) {
  #logo img {
    margin: 28px auto 0 auto;
    float: none;
    display: block;
    width: 100%;

  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  #logo img {
    margin: 22px auto 0 auto;
    float: none;
    display: block;
    width: 68%;

  }
}

.pane-page-content {
  .pane-title {
    text-align: center;
    font-family: Segoe Print;
    font-size: 51px;
    color: #ffffff;
    margin: 5px auto 5px;
  }
}

.container {
  .pane-title {
    text-align: center;
    font-family: Raleway-Bold;
    font-size: 24px;
    color: #888888;
    background: #ffffff;
    margin: 0;
    padding-top: 24px;
  }
}

.page-blog {
  .views-row {
    background: #ffffff;
    margin-top: 20px;
    &:first-child{
      margin-top: auto;
    }
    .blog-teaser-left {
      float: left;
    }
    .blog-teaser-right {
      padding: 0 40px;
      box-sizing: border-box;
      float: left;
      h2 {
        line-height: 1.1;
        font-size: 30px;
        text-align: center;
        font-family: Segoe Print;
        padding-top: 20px;
      }
      a {
        text-decoration: none;
        color: #000000;
      }
      span {
        font-family: Raleway-Regular;
        font-size: 18px;
        text-align: center;
      }
      .field-type-text-with-summary {
        font-family: MyriadPro-Regular;
        font-size: 16px;
        color: #000000;
        line-height: 1.4;
      }
      .read-more-btn {
        padding: 0 0 20px;
        span {
          width: 217px;
          border: 2px solid #ff9898;
          margin: auto;
          display: block;
          text-decoration: none;
          text-align: center;
          color: #ff9898;
          font-family: Raleway-Medium;
          font-size: 15px;
          text-transform: uppercase;
          line-height: 3.4;
          display: block;
          cursor: pointer;
        }
      }
    }
  }
  .node-blog.node-full {
    .field-name-field-media-images {
      .field-item {
        display: inline-block;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .page-blog {
    .views-row {
      .blog-teaser-left {
        width: auto;
        float: none;
        clear: both;
      }
      .field-name-field-media-images img {
        width: 100%;
        height: auto;
      }
      .blog-teaser-right {
        width: auto;
        float: none;
        clear: both;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .page-blog {
    .views-row {
      .blog-teaser-left {
        width: auto;
        float: none;
        clear: both;
        .field-name-field-media-images img {
          width: 100%;
          height: auto;
        }
      }

      .blog-teaser-right {
        width: auto;
        float: none;
        clear: both;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .page-blog {
    .views-row {
      .blog-teaser-left {
        width: 36%;
        .field-name-field-media-images img {
          float: left;
          width: 100%;
          height: auto;
        }
      }
      .blog-teaser-right {
        width: 64%;
      }
    }
  }
}

.item-list {
  margin-top: 57px;
  font-family: MyriadPro-Regular;
  font-size: 20px;
  text-align: center;
  .pager{
    width: 100%;
    display: inline-block;
  }
  li {
    padding: 0;
    display: inline;
    margin: 0px 8px;

    a, &.pager-current {
      text-decoration: none;
      background-color: #fff;
      color: #888888;
      display: inline-block;
      padding: 11px 24px;

      &:hover, &:focus {
        color: #ff9898;
      }
    }

    &.pager-current {
      color: #ff9898;
      cursor: default;
    }

    &.pager-last, &.pager-first, &pager-ellipsis {
      display: none;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 610px) {
  .item-list {
    margin-top: 37px;
    .pager{
      padding: 0;
    }
    li {
      margin: 0px 6px 6px 0;
    }
  }
}

.view-display-id-most_popular_blog {
  .views-field-created {
    .field-content {
      font-family: Raleway-Regular;
      font-size: 13px;
      text-align: center
    }
  }
}

.view-display-id-most_popular_blog {
  margin: auto;
  .views-row {
    width: 23%;
    float: left;
  }
  .panel-2col {
    width: auto;
  }
}

.view-display-id-most_popular_blog {
  a {
    font-family: Segoe Print;
    font-size: 18px;
    text-decoration: none;
    color: #000000;

  }
  .views-field-title, .views-field-created {
    text-align: center;
  }
}

.view-display-id-most_popular_blog {
  .panel-2col {
    .panel-col-first {
      width: auto;
      margin-left: 76px;
    }
  }
}

.pane-views-index-pages-most-popular-blog {
  .pane-content {
    background: #ffffff;
    display: inline-block;
  }
}

.pane-xgaby-core-xgaby-find-me-links {
  .pane-content {
    max-width: 960px;
    margin: auto;
    .find-me-source {
      background: #ffffff;
      margin: auto auto 30px;
      text-align: center;
      padding: 15px 0;
      text-transform: lowercase;
      a {
        text-decoration: none;
        font-size: 24px;
        font-family: MyriadPro-Regular;
        color: $mainPink;
        &:hover {
          color: #000000;
        }
      }
    }
  }
}
@media screen and (max-width: 420px)  {
  .pane-xgaby-core-xgaby-find-me-links {
    .pane-content{
      .find-me-source {
        line-height: 1.5;
      }
    }
  }
}

.pane-xgaby-core-xgaby-find-me-links {
  .pane-title {
    text-align: center;
    font-family: Segoe Print;
    font-size: 36px;
    color: #ffffff;
    margin: 23px auto 7px;
  }
}

.pane-xgaby-core-xgaby-mini-contact {
  padding-bottom: 20px;
  .pane-content {
    background: #ffffff;
    margin: auto;
    text-align: center;
    font-family: Raleway-Light;
    font-size: 24px;
    color: #000000;
    #wrapp-mini_contact {
      padding: 20px 0;
      a {
        color: #000000;
        font-family: Raleway-SemiBold;
        text-decoration: none;
        &:hover {
          color: $mainPink;
        }
      }
    }
  }
}

//read more
.page-blog {
  .node-full {
    h2 {
      margin-top: 20px;
      line-height: 1.1;
      font-size: 30px;
      text-align: center;
      font-family: Segoe Print;
      display: inline-block;
    }
    .field-item p {
      font-family: MyriadPro-Regular;
      font-size: 16px;
      color: #000000;
      line-height: 1.4;
    }
    .field-created {
      font-family: Raleway-Regular;
      font-size: 18px;
      text-align: center;
      display: block;
    }
    .read-less-btn {
      padding: 0 0 30px;
      span {
        width: 149px;
        border: 2px solid #ff9898;
        margin: auto;
        display: block;
        text-decoration: none;
        text-align: center;
        color: #ff9898;
        font-family: Raleway-Medium;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 3.4;
        display: block;
        cursor: pointer;
      }
      .field-items {
        .field-item img {
          float: left;
        }
      }
    }
    .field-name-field-media-images {
      .field-item {
        /* Firefox */
        width: -moz-calc(100% / 3);
        /* WebKit */
        width: -webkit-calc(100% / 3);
        /* Opera */
        width: -o-calc(100% / 3);
        /* Standard */
        width: calc(100% / 3);
        display: inline-block;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .page-blog {
    .node-full {
      .field-item p {
        padding: 0px 20px;
      }
      .field-items {
        width: 100%;
        float: none;
      }
      .field-name-field-media-images {
        .field-item {
          width: 100%;
          display: inline-block;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 421px) and (max-width: 768px) {
  .page-blog {
    .node-full {
      .field-item p {
        padding: 0px 30px;
      }
      .field-name-field-media-images {
        .field-item {
          width: 50%;
          display: inline-block;
          img {
            width: 100%;
            height: auto;
          }
        }
        .field-item:last-child {
          width: 100%;
          display: inline-block;
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .page-blog {
    .node-full {
      .field-item p {
        padding: 0px 70px;
      }
      .field-items {
        width: 100%;
        float: none;
      }
      .field-name-field-media-images {
        .field-item {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}


/*

@media screen and (min-width: 768px) {
  .page-blog {
    .node-full {
      .field-item p {
        padding: 0px 70px;
      }
      .field-name-field-media-images {
        .field-item {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
*/

//about
.page-node-1 {
  .pane-page-content {
    .panel-1col {
      background: #ffffff;
    }
  }
}

@media screen and (max-width: 320px) {
  .page-node-1 {
    .image-about {
      clear: both;
      float: none;
      width: auto;
      height: auto;
    }
    .page-node-1 {
      .pane-page-content {
        padding: 5px;
        .panel-1col {
          padding: 8px;
          width: auto;
        }
      }
    }
    h4 {
      font-size: 12px;
    }
    h3 {
      font-size: 12px;
    }
    p {
      font-size: 10px;
    }
    .description {
      padding: 0px 12px;
      width: 85%;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 959px) {
  .page-node-1 {
    .image-about {
      clear: both;
      float: none;
      padding: 20px 0 0 0;
      width: 100%;
    }
    .page-node-1 {
      .pane-page-content {
        .panel-1col {
          padding: 12px;
        }
      }
    }
    h4 {
      font-size: 20px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
    .description {
      padding: 0px 0px 0px 8px;;
      width: 95%;
    }
  }
}

@media screen and (min-width: 960px) {
  .page-node-1 {
    .image-about {
      float: left;
      width: auto;
      padding: 38px;
    }
    .page-node-1 {
      .pane-page-content {
        .panel-1col {
          padding: 38px;
        }
      }
    }
    h4 {
      font-size: 30px;
    }
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
    .description {
      width: 60%;
    }
  }
}

h4 {
  float: right;
  font-family: "Segoe Print";
  color: #000000;
  margin-top: 5px;
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 0;
}
.description {
  float: left;
}

p {
  font-family: MyriadPro-Regular;

  line-height: 1.4
}

h3 {
  font-family: "Segoe Print";
  color: #000000;
  span {
    color: #ff9898;
  }
}

//photo
.page-pictures {
  .view-display-id-pictures_index {
    .view-content {
      &:after { // simulate clearfix class
                content: ".";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden;
      }
      li {
        margin-top: 41px;
      }
      .field-content img {
        float: left;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .page-pictures {
    .view-display-id-pictures_index {
      .field-content img {
        clear: both;
        float: none;
        width: 99%;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .page-pictures {
    .view-display-id-pictures_index {
      .field-content img {
        float: left;
        width: 85%;
        margin: auto;
        padding: 0 2% 0 7%;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .page-pictures {
    .view-display-id-pictures_index {
      .field-content img {
        float: left;
        width: 49%;
        margin: auto;
        height: auto;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .page-pictures {
    .view-display-id-pictures_index {
      .field-content img {
        float: left;
        width: 33%;
        margin: auto;
      }
    }
  }
}

//contact
.page-node-4 {
  .field-type-text-with-summary {
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 320px) {
  .page-node-4 {
    img {
      clear: both;
      float: none;
      width: auto;
      height: auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .page-node-4 {
    img {
      clear: both;
      float: none;
      width: auto;
      height: auto;
    }
  }
}

//video
.page-video {
  .field-name-field-videos {
    .field-item {
      margin-bottom: 40px;
    }
  }
  .player {
    .video-wrapper  {
      .video {
        background-position: 50% 0%;
      }
    }
  }
}




//global

.pane-content, .pane-xgaby-core-xgaby-mini-contact {
  max-width: 960px;
  margin: auto;
}

.page-homepage {
  .pane-content {
    max-width: 100%;
    margin: auto 0;
    padding: 0;
  }
}

.page-pictures {
  .pane-content {
    max-width: 1173px;
    margin: auto;
  }
  .pane-xgaby-core-xgaby-find-me-links {
    .pane-content {
      max-width: 960px;
    }
  }
}

@media screen and (max-width: 320px) {
  .pane-content .pane-xgaby-core-xgaby-mini-contact {
    padding: 0 15px;
    .pane-content, .pane-xgaby-core-xgaby-mini-contact {
      padding: 0;
    }
  }

}

@media screen and (min-width: 321px) and (max-width: 960px) {
  .pane-content, .pane-xgaby-core-xgaby-mini-contact {
    padding: 0 30px;
    .pane-content, .pane-xgaby-core-xgaby-mini-contact {
      padding: 0;
    }
  }

}



.slide-right {
  -webkit-animation-name: slide-right; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-name: slide-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slide-from-right {
  -webkit-animation-name: slide-from-right; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-name: slide-from-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slide-left {
  -webkit-animation-name: slide-left; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-name: slide-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.slide-from-left {
  -webkit-animation-name: slide-from-left; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-name: slide-from-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  from {
    left: 0;
    display: inline-block;
  }
  to {
    left: -100%;
    display: none;
  }
}

@keyframes slide-from-left {
  from {
    left: -100%;
    display: inline-block;
  }
  to {
    left: 0;
    display: none;
  }
}

@keyframes slide-right {
  from {
    left: 0;
    display: inline-block;
  }
  to {
    left: 100%;
    display: none;
  }
}

@keyframes slide-from-right {
  from {
    left: 100%;
    display: inline-block;
  }
  to {
    left: 0;
    display: none;
  }
}







